  <!-- About Card -->
  <div class="w3-card-2 w3-margin w3-margin-top">
  <img src="/images/bs_400_250.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Cygnophobia</b></h4>
      <p></p>
      <p> Fear of (Black) swans:  Nicholas Naseem Taleb popularised the term Black Swan, referring to extreme outlier events in his book <a href="http://www.amazon.co.uk/Fooled-Randomness-Hidden-Chance-Markets-ebook/dp/B002RI9BH6/">Fooled By Randomness</a>.  It originates from John Stewart Mill's 1843 observation on evidence based fallacies. Avoiding them in your business is central to success and fear breeds preparation.</p>
      <br>
      <p> Machine Learning is already able to replace human cognition in low level, high speed, high availabilty tasks, and businesses that recognise the transformational power it brings to their operations will be the future giants.</p>
      <p><a href="mailto:info@cygnophobia.com?subject=Cygnophobia:">Email Us</a></p>
      <br>
      <p><a href="https://twitter.com/cygnophobia?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @cygnophobia</a></p>
      <p><a class="twitter-mention-button" href="https://twitter.com/intent/tweet?screen_name=cygnophobia" data-url="">Tweet us</a></p>
    </div>
  </div><hr>
