<!-- Labels / tags -->
<div class="w3-card-2 w3-margin">
  <div class="w3-container w3-padding">
    <h4>Tags</h4>
  </div>
  <div class="w3-container w3-white"><p>
      <span class="w3-tag w3-black w3-margin-bottom">
	Tensorflow
      </span>
      {% for post in site.posts %}
      {% for tag in post.tags %}
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">
	{{ tag }}
      </span>
      {% endfor %}
      {% endfor %}
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">
	  NLP
	</span>
	<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">
	  Ontologies
	</span>
	<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">
	  Spark
	</span>
	<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">
	  Academic Paper
	</span>
	<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">
	  AI Hype
	</span>
	<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">
	  Application
	</span>
	<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">
	  Startup
	</span>
	<span class="w3-tag w3-light-grey w3-small w3-margin-bottom">
	  Incumbent
	</span>
    </p>
    </div>
  </div>
