  <!-- Papers -->
  <div class="w3-card-2 w3-margin">
    <div class="w3-container w3-padding">
      <h4>Academic Paper Roll</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="/images/edge_black_swan_inv_sml.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Robust Systems</span><br>
        <span><a href="https://groups.csail.mit.edu/mac/users/gjs/6.945/readings/robust-systems.pdf" target="_blank">Sussman</a></span>
      </li>

      <li class="w3-padding-16">
        <img src="/images/edge_black_swan_inv_sml.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Evolutionary Modularity</span><br>
        <span><a href="http://rspb.royalsocietypublishing.org/content/280/1755/20122863" target="_blank">Clune</a></span>
      </li>

      <li class="w3-padding-16">
        <img src="/images/edge_black_swan_inv_sml.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Gaussian Processes</span><br>
        <span><a href="http://www.rogerfrigola.com/doc/thesis.pdf" target="_blank">Frigola</a></span>
      </li>

      
    </ul>
  </div>
  <hr> 
