<!-- Posts -->
<div class="w3-card-2 w3-margin">
  <div class="w3-container w3-padding">
    <h4>Popular Posts</h4>
  </div>
  <ul class="w3-ul w3-hoverable w3-white">
    {% for post in site.posts %}
      <li class="w3-padding-16">
	<img src="/images/edge_black_swan_inv_sml.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
	<span class="w3-large">
	  {{ post.title }}
	</span>
	<br>
        <span>
	  <a href="{{ post.url }}">
	    {{ post.abstract }}
	  </a>
	</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <hr> 
